<div class="disclaimer">
  {% if SHOW_DISCLAIMER %}
  <p>
    The postings on this site are my own and don't necessarily represent my
    employer’s positions, strategies or opinions.
  </p>
  {% endif %}

  <div id="license" style="margin-top: 10px">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
    </a>
  </div>
  <p>
    © {{ AUTHOR }}, {{ CURRENTYEAR }} &mdash; built with <a href="http://getpelican.com" target="_blank">Pelican</a> and
    forked <a href="https://github.com/cupen/taman" target="_blank">Taman</a>
  </p>
</div>