<nav>
  <a href="{{ SITEURL }}/">
    {% if USER_LOGO_URL %}
    <img src="{{ SITEURL }}{{ USER_LOGO_URL }}" id="gravatar" alt="My photo" />
    {% else %}
    <img src="{{ SITEURL }}/theme/images/logo.png" id="gravatar" alt="My photo" />
    {% endif %}
  </a>
  <h2><a href="{{ SITEURL }}/">{{ AUTHOR }}</a></h2>

  <div id="bio">
    <p>{{ TAGLINE }}</p>
  </div>

  <div id="social">
    {% include "social.html" %}
  </div>

  <div id="tags"> 
    <ul class="list-group col-md-1 row-sm-1">
      {% for title, link in MENUITEMS %}
      <li class="list-group-item"><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}

      {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in pages %}
      <li class="list-group-item"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
      {% endif %}

      {% for name, link in LINKS %}
      <li class="list-group-item"><a href="{{ link }}" target="_blank">{{ name }}<span
            style="font-size: 0.7em">&#8599;</span> </a></li>
      {% endfor %}
    </ul>
  </div>
</nav>